body {
    font-family: sans-serif;
    background-color: #eeeeee;
}
    .dex-wrapper{
        margin:auto;
        max-width:400px;
        background: #ff3333;
        /*background:red;*/
    }
        .dex-header{
            display:flex;
        }
            .blink-ball{
                display:inline-block;
                width:70px;
                height:70px;
                border:5px solid #dfdfdf;
                border-radius:40px;
                margin: 20px;
                background:skyblue;
            }
            .addthis_inline_share_toolbox{
                margin-top: 20px;
            }
            .sign-header{
                display:inline-block;
                width:20px;
                height:20px;
                border:3px solid #dfdfdf;
                border-radius:15px;
                margin: 20px 5px;
            }
            .sign-red{
                background:red;
            }
            .sign-yellow{
                background:yellow;
            }
            .sign-green{
                background:green;
            }

        /* .dex-body{} */
            .screen-wrapper{
                background: #fff;
                position: relative;
                height: 350px;
                margin: 20px;
                border-radius:10px;
                border-bottom-left-radius: 50px;
            }
                .screen{
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    position:relative;
                    top:20px;
                    left:20px;
                    width:calc(100% - 40px);
                    height: 200px;
                    background:skyblue;
                    text-align: center;

                }
                .screen:hover{
                    background: #67c5ec;
                }
                    .file-upload-input {
                        display:none;
                        position: absolute;
                        left:0;
                        margin: 0;
                        padding: 0;
                        width: 100%;
                        height: 100%;
                        outline: none;
                        opacity: 0;
                        cursor: pointer;
                    }
                    
                        .drag-text h3 {
                            font-weight: 900;
                            text-transform: uppercase;
                            line-height:200px;
                        }
                        .drag-text .text-who{
                            display:none;
                        }
                    .file-upload-image {
                        display: none;
                        max-width:100%;
                        max-height:100%;
                        margin: auto;
                    }
                .progress-wrapper {
                    margin: 40px 20px 10px;
                }
                    .progress-list{
                        margin:10px 0;
                        display: flex;
                    }
                        .progress-label {
                            width: 30%;
                        }
                        .progress-bar-wrapper {
                            
                            background: #f1f1f1;
                            border-radius:15px;
                            width:70%;
                        }
                            .progress-bar{
                                border-radius: 15px;
                            }
                            .progress-list:nth-child(1) .progress-bar{background: #ffc6c6;}
                            .progress-list:nth-child(2) .progress-bar{background: #fbf2ac;}
                            .progress-list:nth-child(3) .progress-bar{background:#a5f593;}
                                .progress-bar span{
                                    padding: 0 10px;
                                }

        .dex-button{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height:150px;
        }
            .button-cross{
                margin: 20px;
                width: 120px;
            }
    .section-ads{
        max-width:400px;
        max-height:200px;
    }